.title-header {
	background-color: #1e88e5;
	margin: 0px;
	padding-left: 53px;
	padding-right: 53px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
}

.title-header-h1-white {
	color: #fff;
	font-family: Inter;
	font-size: 34px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-align: left;
}

.title-header-h2-white {
	color: #fff;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-align: left;
}

.login-button {
	background-color: #2196f3;
	color: white;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	height: 100%;
	width: 70px;
	border-radius: 3px;
}

.login-button:hover {
	background-color: #0d47a1;
}
