<p3>Search Course</p3>
    </div>
        {% comment %} extend navbar {% endcomment %}
        {% include './navbar.html' %}
        {% comment %} text input field {% endcomment %}
        {% comment %} TODO: use course form, add search button {% endcomment %}
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Search Course">
        </div>
        <div class="col-md-2">
            <p3>My Profile</p3>
        </div>
        <div class="col-md-2">
            <p3>Log Out</p3>
        </div>
    </div>